# Xcode
#
# gitignore contributors: paste build/ Industrial Strength / Template folder / Xcode.gitignore
build/
DerivedData/
*.moved-aside
*.xcuserstate
xcuserdata/
*.xcscmblueprint

## User settings
xcuserdata/

## Compatibility with Xcode 8 and earlier
*.xcclassmodel

## Swift Package Manager
.build/
Packages/
.swiftpm/xcode/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
